.single-product {
    stroke:black;
    stroke-width: 0.5pt
}

.product-group:hover  {
    stroke: deepskyblue;
    stroke-width: 1pt
}
.shelf  {
    stroke: black;
    stroke-width: 0.5pt
}
.shelf:hover  {
    stroke: deepskyblue;
    stroke-width: 1pt
}

.selected {
    stroke: chartreuse;
    stroke-width: 1pt;
}